body {
    background-color:black;
    height: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}


.main {
    width: 400px;
    padding: 30px;
    background-color: rgb(249, 228, 245);
    border-radius: 15px;
    box-shadow: 0 0 15px;
    transition: box-shadow 0.5s ease;
}

.main:hover {
    box-shadow: 0 0 80px ;
    color: rgb(2, 245, 51);
}

h1 {
    font-style: oblique;
    font-weight: bold;
    color:black;
    margin-bottom: 25px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    color: #333;
    font-size: 14px;
}

input[type="text"],
input[type="number"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, border-color 0.3s ease;
    font-size: 14px;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #0900fb;
    box-shadow: 0 0 9px #0900fb;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #733de8;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #4d0af5;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: red;
}

a {
    color: #5002f9;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
